In [1]:
import xarray as xr
import numpy as np
import pandas as pd
import functions.common as cf

In [2]:
reviewlist = pd.read_csv('define_datareview_list.csv')
pd.set_option('display.max_colwidth', -1)
(reviewlist)

,Unnamed: 0,datasets,method
0,deployment0001,https://opendap.oceanobservatories.org/thredds/dodsC/ooi/leila.ocean@gmail.com/20190306T174413-CP05MOAS-GL379-03-CTDGVM000-recovered_host-ctdgv_m_glider_instrument_recovered/deployment0001_CP05MOAS-GL379-03-CTDGVM000-recovered_host-ctdgv_m_glider_instrument_recovered_20140415T132159.798580-20140706T212524.736690.nc,recovered_host
1,deployment0002,https://opendap.oceanobservatories.org/thredds/dodsC/ooi/leila.ocean@gmail.com/20190306T174413-CP05MOAS-GL379-03-CTDGVM000-recovered_host-ctdgv_m_glider_instrument_recovered/deployment0002_CP05MOAS-GL379-03-CTDGVM000-recovered_host-ctdgv_m_glider_instrument_recovered_20150509T113514.756870-20150625T150702.264890.nc,recovered_host
2,deployment0003,https://opendap.oceanobservatories.org/thredds/dodsC/ooi/leila.ocean@gmail.com/20190306T174413-CP05MOAS-GL379-03-CTDGVM000-recovered_host-ctdgv_m_glider_instrument_recovered/deployment0003_CP05MOAS-GL379-03-CTDGVM000-recovered_host-ctdgv_m_glider_instrument_recovered_20160121T150043.663730-20160518T015328.144100.nc,recovered_host
3,deployment0004,https://opendap.oceanobservatories.org/thredds/dodsC/ooi/leila.ocean@gmail.com/20190306T174435-CP05MOAS-GL379-03-CTDGVM000-telemetered-ctdgv_m_glider_instrument/deployment0004_CP05MOAS-GL379-03-CTDGVM000-telemetered-ctdgv_m_glider_instrument_20170116T125355.760380-20170116T221950.330870.nc,telemetered

In [12]:
df = pd.DataFrame()
dr = pd.DataFrame()
valid_list = list(np.zeros(len(reviewlist)))
for index, row in reviewlist.iterrows():
    rd = row['datasets'].split('/')[-1].split('_')[1][0:27]
    stream = row['datasets'].split('/')[-1].split('-')[5].split('_2')[0]
    sci_vars = cf.return_science_vars(stream)
    ds = xr.open_dataset(row['datasets'], mask_and_scale=False)
    ds = ds.swap_dims({'obs': 'time'})

    # calculate statistics for science variables, excluding outliers +/- 5 SD    
    index_i = row['Unnamed: 0']
    valid_list_index = []
    for sv in sci_vars:
        valid_sci_dic = cf.validate_sci_var_report(rd, sv, ds, index_i, valid_list_index)       
        df = df.append(valid_sci_dic)     
    valid_list[index] = df['pvd_test'].values[-1]
    dr0 = pd.DataFrame({'valid_list': [valid_list[index]]}, index=[index_i])
    dr = dr.append(dr0)
dr

                        valid_list
deployment0001  {'99': 6}
deployment0002  {'99': 6}
deployment0003  {'99': 6}
deployment0004  {'99': 5, '75': 1}

In [14]:
pd.set_option('display.max_colwidth', -1)
(df)

,sv,var_units,fv:fill_value,n_fv,gr: global_range,n_gr,n_nan,num_outliers,n_stats,mean,vmin,vmax,sd,percent_valid_data,pvd_test,dlst
deployment0001,practical_salinity,1,-9999999.0,0,"[0.0, 42.0]",0,4,1522,1696159,35.3557,33.0998,36.5786,0.4433,99.91,{'99': 1},[]
deployment0001,sci_water_cond,S m-1,NaN,0,"[0.0, 6.0]",4,0,1522,1696159,4.1648,3.2019,5.5363,0.5035,99.91,{'99': 2},[]
deployment0001,sci_water_pressure,bar,NaN,0,"[0.0, 6000.0]",0,0,0,1697681,18.5088,0.0000,101.1100,21.5955,100.00,{'99': 3},[]
deployment0001,sci_water_temp,ºC,NaN,0,"[-2.0, 40.0]",0,0,0,1697681,13.0989,0.0000,25.4908,4.8591,100.00,{'99': 4},[]
deployment0001,sci_seawater_density,kg m-3,NaN,0,"[1000.0, 1100.0]",1518,4,1522,1696159,1027.3765,1023.3115,1032.3609,1.6905,99.91,{'99': 5},[]
deployment0001,sci_water_pressure_dbar,dbar,NaN,0,"[0.0, 6000.0]",0,0,0,1697681,185.0881,0.0000,1011.1000,215.9547,100.00,{'99': 6},[]
deployment0002,practical_salinity,1,-9999999.0,0,"[0.0, 42.0]",0,9,648,1875850,35.2059,31.5974,38.8005,0.3742,99.97,{'99': 1},[]
deployment0002,sci_water_cond,S m-1,NaN,0,"[0.0, 6.0]",9,0,586,1875912,3.7036,3.3225,5.5537,0.4065,99.97,{'99': 2},[]
deployment0002,sci_water_pressure,bar,NaN,0,"[0.0, 6000.0]",0,0,0,1876498,47.5734,0.0000,98.6270,28.2113,100.00,{'99': 3},[]
deployment0002,sci_water_temp,ºC,NaN,0,"[-2.0, 40.0]",0,0,0,1876498,8.3477,0.0000,26.0479,4.0622,100.00,{'99': 4},[]
deployment0002,sci_seawater_density,kg m-3,NaN,0,"[1000.0, 1100.0]",577,9,586,1875912,1029.4759,1021.0847,1032.2592,1.7614,99.97,{'99': 5},[]
deployment0002,sci_water_pressure_dbar,dbar,NaN,0,"[0.0, 6000.0]",0,0,0,1876498,475.7337,0.0000,986.2700,282.1129,100.00,{'99': 6},[]
deployment0003,practical_salinity,1,-9999999.0,0,"[0.0, 42.0]",0,0,1343,3821445,35.1847,33.3491,36.1406,0.3060,99.96,{'99': 1},[]
deployment0003,sci_water_cond,S m-1,NaN,0,"[0.0, 6.0]",0,0,1339,3821449,3.6980,3.3161,4.5442,0.3550,99.96,{'99': 2},[]
deployment0003,sci_water_pressure,bar,NaN,0,"[0.0, 6000.0]",0,0,0,3822788,43.0017,0.0000,96.1270,27.3051,100.00,{'99': 3},[]
deployment0003,sci_water_temp,ºC,NaN,0,"[-2.0, 40.0]",0,0,0,3822788,8.3505,0.0000,16.4964,3.6128,100.00,{'99': 4},[]
deployment0003,sci_seawater_density,kg m-3,NaN,0,"[1000.0, 1100.0]",1339,0,1340,3821448,1029.2669,1023.2164,1032.1469,1.6572,99.96,{'99': 5},[]
deployment0003,sci_water_pressure_dbar,dbar,NaN,0,"[0.0, 6000.0]",0,0,0,3822788,430.0173,0.0000,961.2700,273.0508,100.00,{'99': 6},[]
deployment0004,practical_salinity,1,-9999999.0,0,"[0.0, 42.0]",0,0,0,212,31.6605,0.0000,35.8872,11.0452,100.00,{'99': 1},[]
deployment0004,sci_water_cond,S m-1,NaN,0,"[0.0, 6.0]",0,0,0,212,3.8097,0.0000,4.4162,1.3309,100.00,{'99': 2},[]
deployment0004,sci_water_pressure,bar,NaN,0,"[0.0, 6000.0]",0,0,0,212,5.8828,0.0000,26.1650,7.4923,100.00,{'99': 3},[]
deployment0004,sci_water_temp,ºC,NaN,0,"[-2.0, 40.0]",0,0,0,212,12.7058,0.0000,15.2560,4.4025,100.00,{'99': 4},[]
deployment0004,sci_seawater_density,kg m-3,NaN,0,"[1000.0, 1100.0]",23,0,23,189,1026.8335,1026.4290,1028.2291,0.5090,89.15,"{'99': 4, '75': 1}",[4]
deployment0004,sci_water_pressure_dbar,dbar,NaN,0,"[0.0, 6000.0]",0,0,0,212,58.8284,0.0000,261.6500,74.9231,100.00,"{'99': 5, '75': 1}",[4]